<!DOCTYPE html>
<html lang="{{.Site.Language.Lang }}">
    <head>
        <meta charset="utf-8">
        <script async src="https://www.googletagmanager.com/gtag/js?id=AW-16951735311"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'AW-16951735311');

            function gtag_report_conversion(url) {
                var callback = function () {if (typeof(url) != 'undefined') {window.location = url;}};
                gtag('event', 'conversion', {
                    'send_to': 'AW-16951735311/nLlECMvtiLEaEI_om5M_',
                    'event_callback': callback
                });
                return false;
            }
        </script>
        {{- partial "seo_schema" . -}}
        <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
        {{- partial "head.html" . -}}
    </head>
    <body>
        {{- partial "header.html" . -}}
        <main role="main">
        {{- block "main" . }}{{- end }}
        </main>
        {{- partial "footer.html" . -}}
        {{- partial "js.html" . -}}
    </body>
</html>
